body {
  background: black;
  color: #00ff00;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  max-width: 48em;
  padding-left: 1em;
  padding-right: 1em;
}

.contents ul li {
  list-style: none;
}

ul li {
  list-style: square;
}

hr {
  margin-bottom: 2em;
  margin-top: 2em;
}

p, ul li, ol li, ul {
}

td {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "DejaVu Serif", "Bitstream Vera Serif", "Lucida Bright", serif;
  font-weight: normal;
}

h1.bigtitle {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #ff7e00;
  text-decoration: underline;
}

pre {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  max-width: 56em;
  padding: 1em;
  white-space: no-wrap;
  /* border: 1px solid #ddc;
     border-radius: 3px; */
}

p code {
  font-size: normal;
  border: 1px solid #ddc;
  border-radius: 3px;
  padding: 2px;
}

img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.sidenote {
  font-size: small;
  /* margin-right: -170px; */
  max-width: 200px;
  position: absolute;
  right: 20px;
  top: auto; /* default */
}

blockquote.callout {
  margin-top: 0;
  margin-left: 2em;
  margin-right: 0;
  float: right;
  font-size: 1.1em;
  width: 30%;
}

blockquote.callout p {
  margin-top: 0;
}
